<div class="row" style="padding-left: 40px;">
	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
		<div class="panel panel-primary" style="">
			<div class="panel-heading">
				<a href="#panel1" data-toggle="collapse" aria-expanded="true">Panel 1</a>
			</div>
			<div id="panel1" class="panel-body collapse in text-center">
				Hi
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
		<div class="panel panel-primary">
			<div class="panel-heading"><a href="#panel2" data-toggle="collapse" aria-expanded="true">Panel 2</a></div>
			<div id="panel2" class="panel-body collapse in text-center">
				Hello
			</div>
		</div>
	</div>
</div>
