<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="nav navbar-nav">
			<h3 class="heading">Hello</h3>
		</div>
	</div>
</nav>

<div class="row">
	<div   class="col-md-2 col-xs-2 menu_wrapper" style="width: 14%">
		<ul>
			<li>
				<a class='nav-link' href='#/main'>
					Main
				</a>
			</li>
			<li>
				<a class='nav-link' href='#/test'>
					Test
				</a>
			</li>
		</ul>
	</div>

	<div id="content" class="col-md-10 col-xs-10" style="padding-top: 18px;">
		<router-outlet></router-outlet>
	</div>
</div>
